{% extends 'default.html' %}
{% load static %}

{% block title %}
Cart
{% endblock %}

{% block content %}
<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="/">J&S Bagel</a></li>
      <li><a href="/menu">MENU</a></li>
      {% if user.is_authenticated %}
      <li><a href="/custom_recipe">CUSTOM RECIPE</a></li>
      <li><a href="/order">ORDER</a></li>
      <li><a href="/cart"><font color="black">CART</font></a></li>
      {% endif %}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      {% if user.is_authenticated %}
      <li><a href="/logout/">Logout</a></li>
      {% else %}
      <li><a href="/login/">Log In</a></li>
      {% endif %}
    </ul>
  </div>
</div>

<div class="multi-step-checkout-process">
  <div class="multi-step-checkout-process-step">
    <ul class="accordion" data-accordion>
      <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title">1. Information <span class="multi-step-checkout-step-title-subheader">Step 1 of 3</span></a>
        <div class="accordion-content" data-tab-content>
          <form class="multi-step-checkout-form">
            <div class="row">
              <div class="small-12 medium-9 column">
                <div class="shipping-address multi-step-checkout-step-section">
                  <h6 class="multi-step-checkout-step-subheader">Contact Information</h6>
                  <p class="multi-step-checkout-step-subdesc">Please enter your information.</p>                  <label>
                    <input type="text" placeholder="Name" required >
                    <input type="text" placeholder="Last Name" required >
                    <input type="text" placeholder="Email" required >
                    <input type="text" placeholder="Phone" required >
                  </label>
                </div>
                <div class="multi-step-checkout-shipping-options multi-step-checkout-step-section">
                  <h6 class="multi-step-checkout-step-subheader">Pickup Options</h6>
                  <div class="row multi-step-checkout-shipping-option">
                    <label>
                      <div class="small-10 column">
                        <input type="radio" name="multi-step-checkout-shipping-option" value="ups-ground-shipping" class="multi-step-checkout-shipping-option-selection" checked="checked"> <span class="multi-step-checkout-shipping-option-title">PICKUP ASAP</span>
                      </div>
                      <div class="small-2 column multi-step-checkout-shipping-cost">
                        $12.00
                      </div>
                    </label>
                  </div>
                  <div class="row multi-step-checkout-shipping-option">
                    <label>
                      <div class="small-10 column">
                        <input type="radio" name="multi-step-checkout-shipping-option" value="usps-shipping" class="multi-step-checkout-shipping-option-selection"><span class="multi-step-checkout-shipping-option-title">PICKUP LATER</span>
                            <div class="large-12 medium-6 column">
                            <select required >
                              <option value="state1">After 20 mins</option>
                              <option value="state2">After 40 mins</option>
                              <option value="state3">After 1 hour</option>
                              <option value="state4">After 1.5 hours</option>
                              <option value="state5">After 2 hours</option>
                            </select>
                          </div>
                        <div class="multi-step-checkout-shipping-option-desc">Please select the time</div>
                      </div>
                      <div class="small-2 column multi-step-checkout-shipping-cost">
                        $12.00
                      </div>
                    </label>
                  </div>
                </div> <!-- the end of contact options -->
                <div class="multi-step-checkout-enews-sign-up">
                  <fieldset>
                    <input class="multi-step-checkout-enews-sign-up-checkbox" id="multi-step-checkout-enews-sign-up-checkbox" type="checkbox">
                    <label for="#multi-step-checkout-enews-sign-up-checkbox">Please add me to your eNewsletter list so I can receive special promotions and product updates.</label>
                  </fieldset>
                </div>
                <button class="primary button expanded">Continue to Payment</button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">2. Payment <span class="multi-step-checkout-step-title-subheader">Step 2 of 3</span></a>
        <div class="accordion-content" data-tab-content>
          <form class="multi-step-checkout-form">
            <div class="row">
              <div class="small-12 medium-9 column">
                <div class="multi-step-checkout-billing-address">
                  <fieldset>
                    <input class="multi-step-checkout-billing-address-checkbox" id="multi-step-checkout-billing-address-checkbox" type="checkbox" checked><label for="multi-step-checkout-billing-address-checkbox">Credit Card</label>
                  </fieldset>
                </div>
                <div class="multi-step-checkout-credit-card-info">
                  <h6 class="multi-step-checkout-step-subheader">Credit Card Information</h6>
                  <input type="text" placeholder="Card Name" required >
                  <input type="text" placeholder="Card Number" required >
                  <div class="row">
                    <div class="small-4 column">
                      <select required >
                        <option value="january">01</option>
                        <option value="february">02</option>
                        <option value="march">03</option>
                        <option value="april">04</option>
                      </select>
                    </div>
                    <div class="small-4 column">
                      <select required >
                        <option value="year1">2019</option>
                        <option value="year2">2018</option>
                        <option value="year3">2017</option>
                        <option value="year4">2016</option>
                      </select>
                    </div>
                    <div class="small-4 column">
                      <input type="text" placeholder="CVV" required >
                    </div>
                  </div>
                  <fieldset>
                    <input class="multi-step-checkout-billing-address-checkbox" id="multi-step-checkout-billing-address-checkbox" type="checkbox" checked><label for="multi-step-checkout-billing-address-checkbox">Cash</label>
                  </fieldset>
                  <li class="multi-step-checkout-billing-name">  Pay in Stores</li>
                  <div><hr class="multi-step-checkout-form-divider"></div>
                  <button class="primary button expanded">Continue to Review Order</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">3. Review Order <span class="multi-step-checkout-step-title-subheader">Step 3 of 3</span></a>
        <div class="accordion-content" data-tab-content>
         <hr class="show-for-small-only order-table-divider">
          <table class="order-table-content stack">
            <thead>
              <tr>
                <th width="120">Order</th>
                <th width="350"></th>
                <th width="80">Quantity</th>
                <th width="100">Price Each</th>
                <th width="60">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr class="order-item">
                <td><span class="order-product-title">Product</span>
                   <ul class="order-product-info">
                    <li>Plain Bagel</li>
                    <li>Yogurt Creme Cheese</li>
                    <li>Beverage..</li>
                  </ul>
                </td>
                <td><span class="show-for-small-only">Qty:</span>2</td>
                <td><span class="show-for-small-only">Price: </span><span class="order-product-price">$12.00</span>
                <span class="show-for-small-only">,</span>
                <br class="hide-for-small-only">
                </td>
                <td><span class="show-for-small-only">Total: </span><span class="order-product-total">$24.00</span></td>
              </tr>
            </tbody>
          </table>
          <div class="">
            <form>
              <label for="">Additional Comments
                <textarea name="" id="" cols="30" rows="2"></textarea>
              </label>
              <button class="primary button expanded">Submit Order</button>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
