{% extends "default.html" %}
{% load static %}

{% block title %}
Make Custom Recipe
{% endblock %}

{% block content %}
<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="/">J&S Bagel</a></li>
      <li><a href="/menu">MENU</a></li>
      {% if user.is_authenticated %}
      <li><a href="/custom_recipe"><font color="black">CUSTOM RECIPE</font></a></li>
      <li><a href="/order">ORDER</a></li>
      <li><a href="/order">CART</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      {% if user.is_authenticated %}
      <li><a href="/logout/">Logout</a></li>
      {% else %}
      <li><a href="/login/">Log In</a></li>
      {% endif %}
    </ul>
  </div>
</div>



{% if user.is_authenticated %}
<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <form class="comment-section-form">
      <div class="row column log-in-form">
        <h4 class="text-center">Enter your Custom Recipe</h4>
        {{ form.errors }}
        <label>{{ form.title.label_tag }}
          {{ form.title }}
        </label>
        <label>{{ form.content.label_tag }}
          {{ form.content }}
        </label>
        <label>{{ form.image.label_tag }}
          {{ form.image }}
        </label>
        <input type="submit" class="button expanded" value="Post">
      </div>
    </form>
    </form>
  </div>
  {% endif %}

</div>

<div class="comment-section-container">
  <a href="/custom_recipe/posting">
  <center><h5>Custom Recipe</h5></center>
  <div class="comment-section-author">
    <img src="{% static "reduce_choco.png" %}" alt="">
    <div class="comment-section-name">
      <h5><a href="">Bob</a></h5>
    </div>
  </div>
  <div class="comment-section-text">
    <p>Choco bagel with Yogurt creme cheese
    </p>
  </div>
  <div class="comment-section-author">
    <img src="{% static "reduce_green.png" %}" alt="">
    <div class="comment-section-name">
      <h5><a href="">hoh</a></h5>
    </div>
  </div>
  <div class="comment-section-text">
    <p> I like green tea with cranberry creme cheese, try it.</p>
  </div>
  </a>
</div>


{% endblock %}
