{% extends "default.html" %}
{% load static %}

{% block title %}
Custom Recipe
{% endblock %}

{% block content %}
<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="/">J&S Bagel</a></li>
      <li><a href="/menu">MENU</a></li>
      {% if user.is_authenticated %}
      <li><a href="/custom_recipe"><font color="black">CUSTOM RECIPE</font></a></li>
      <li><a href="/order">ORDER</a></li>
      <li><a href="/order">CART</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      {% if user.is_authenticated %}
      <li><a href="/logout/">Logout</a></li>
      {% else %}
      <li><a href="/login/">Log In</a></li>
      {% endif %}
    </ul>
  </div>
</div>

<!-- comments -->
<a href="/custom_recipe/posting">
<div class="comment-section-container">
  <h3>Comments (2)</h3>
  <div class="comment-section-author">
    <img src="http://placehold.it/50x50" alt="">
    <div class="comment-section-name">
      <h5><a href="">Janice Jones</a></h5>
      <p>March 12, 2017 at 1:28pm</p>
    </div>
  </div>
  <div class="comment-section-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facilis tenetur a voluptatibus quia
      deserunt.
    </p>
  </div>
  <div class="comment-section-author">
    <img src="http://placehold.it/50x50" alt="">
    <div class="comment-section-name">
      <h5><a href="">Janice Jones</a></h5>
      <p>March 12, 2017 at 1:28pm</p>
    </div>
  </div>
  <div class="comment-section-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facilis tenetur a voluptatibus quia deserunt.
    </p>
  </div>
</div>
<!--/comments-->

<!-- comment form -->
<form class="comment-section-form">
  <div class="comment-section-box">
    <div class="row">
      <div class="small-12 column">
        <h4>Leave a Comment</h4>
        <label>Name
          <input type="text">
        </label>
        <label>Email
          <input type="text">
        </label>
        <label>Comment
          <textarea rows="10" type="text"></textarea>
        </label>
        <button class="button expanded">Submit</button>
      </div>
    </div>
  </div>
</form>
</a>
<!--/comment box-->



{% endblock %}
