{% extends "default.html" %}
{% load static %}

{% block title %}
J&S Bagel
{% endblock %}

{% block content %}
<!-- start top bar -->
<header class="header">
  <div class="top-bar" id="main-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a href="/"><font color="black">J&S Bagel</font></a></li>
        <li><a href="/menu">MENU</a></li>
        {% if user.is_authenticated %}
        <li><a href="/custom_recipe">CUSTOM RECIPE</a></li>
        <li><a href="/order">ORDER</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        {% if user.is_authenticated %}
        <li><a href="/logout/">Logout</a></li>
        {% else %}
        <li><a href="/login/">Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</header>
<!-- end top bar -->
      <img src="{% static "mainbagel.png" %}" alt="main page"/>
{% endblock %}
