{% extends "default.html" %}
{% load static %}

{% block title %}
Menu
{% endblock %}

{% block content %}
<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">J&S Bagel</li>
      <li><a href="/menu">MENU</a></li>
      {% if user.is_authenticated %}
      <li><a href="/custom_recipe">CUSTOM RECIPE</a></li>
      <li><a href="/order">ORDER</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      {% if user.is_authenticated %}
      <li><a href="/logout/">Logout</a></li>
      {% else %}
      <li><a href="/login/">Log In</a></li>
      {% endif %}
    </ul>
  </div>
</div>

<div class="featured-image-block-grid">
 <!--<nav role="navigation">
  <ul id="overlay-nav-menu" class="overlay-nav-menu">-->

    <li><a href="/menu/bagel">Bagel</a></li>
      <div class="row large-up-4 small-up-2">
          <div class="featured-image-block column">
            <a href="#">
              <img src="{% static "choco bagel.png" %}"/>
                <p class="text-center featured-image-block-title">Choco Bagel</p>
            </a>
          </div>
      <div class="featured-image-block column">
           <a href="#">
              <img src="{% static "cheese bagel.png" %}" />
                <p class="text-center featured-image-block-title">Cheese bagel</p>
            </a>
      </div>
     </div>
<!-- creme cheese -->
     <li><a href="/menu/cremecheese">Creme Cheese</a></li>
       <div class="row large-up-4 small-up-2">
           <div class="featured-image-block column">
             <a href="#">
               <img src="{% static "honey creme.png" %}"/>
                 <p class="text-center featured-image-block-title">Honey creme cheese</p>
             </a>
           </div>
       <div class="featured-image-block column">
            <a href="#">
               <img src="{% static "cheese bagel.png" %}" />
                 <p class="text-center featured-image-block-title">Cheese bagel</p>
             </a>
       </div>
      </div>
    <!-- </ul>
     <a data-toggle-menu class="overlay-nav-menu-toggle" href="#overlay-nav-menu"><i class="fa fa-plus"></i></a>
   </nav> -->
  </div>
{% endblock %}
