{% extends "default.html" %}
{% load static %}

{% block title %}
Menu
{% endblock %}

{% block content %}
<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">J&S Bagel</li>
      <li><a href="/menu">MENU</a></li>
      {% if user.is_authenticated %}
      <li><a href="/custom_recipe">CUSTOM RECIPE</a></li>
      <li><a href="/order">ORDER</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      {% if user.is_authenticated %}
      <li><a href="/logout/">Logout</a></li>
      {% else %}
      <li><a href="/login/">Log In</a></li>
      {% endif %}
    </ul>
  </div>
</div>

<div class="top-bar-container" data-sticky-container>
  <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
    <div class="top-bar">
      <div class="top-bar-left">
    <!-- <ul class="dropdown menu" data-dropdown-menu> -->
          <li class="menu-text">MENU</li>
          <li class="has-submenu">
            <a href="/menu/bagel">BAGEL</a>
            <!--<ul class="submenu menu vertical" data-submenu> -->
              <div class="row large-up-4 small-up-2">
                  <div class="featured-image-block column">
                    <a href="#">
                      <img src="{% static "choco bagel.png" %}"/>
                        <p class="text-center featured-image-block-title">Choco Bagel</p>
                    </a>
                  </div>
              <div class="featured-image-block column">
                   <a href="#">
                      <img src="{% static "cheese bagel.png" %}" />
                        <p class="text-center featured-image-block-title">Cheese bagel</p>
                    </a>
              </div>
            </div>
          <!--  </ul> -->
          </li>
          <li class="has-submenu">
            <a href="/menu/creme_cheese">CREME CHEESE</a>
            <!--<ul class="submenu menu vertical" data-submenu> -->
            <div class="row large-up-4 small-up-2">
                <div class="featured-image-block column">
                  <a href="#">
                    <img src="{% static "honey creme.png" %}"/>
                      <p class="text-center featured-image-block-title">Honey creme cheese</p>
                  </a>
                </div>
            <div class="featured-image-block column">
                 <a href="#">
                    <img src="{% static "sweet potato creme.png" %}" />
                      <p class="text-center featured-image-block-title">Sweet Potato Creme Cheese</p>
                  </a>
            </div>
          </div>
          <!--  </ul> -->
          </li>
      <!--  </ul> -->
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
 </div>
</div>
</div>
{% endblock %}
